 .about{
    display: flex;
    flex-direction: row;
    .introduction {
        align-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin-top: 5%;
        margin-left: 8%;
        .about-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 45vw;
            .header {
                font-size: 3.8rem;
                margin: 10px;
            }

            h2 {
                color: #D5D5D5;
                font-size: 1.2rem;
            }
        }
    }
    .my-image{
        display: flex;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
        img{
            width: auto;
            height: 60vh;
            background-color: rgb(34, 32, 32);
            border-radius: 20px;
        }
        .top-right-box{
         position: absolute;
         background: #3d9cee; 
         width: 130px;
         height: 2%;
         z-index: -1;     
         transform: translateX(-90px) translateY(-110px);
       }
       .bottom-left-box{
         position: absolute;
         background: #3d9cee;    
         width: 130px;
         height: 2%;
         z-index: -1;
         transform: translateX(90px) translateY(110px);
       }
    }
}

    @media screen and (max-width: 600px) {
    .about{
        flex-direction: column-reverse;
        .introduction {
            gap: 15px;
            justify-content: center;
            margin: 10px; ;
            .about-text{ 
                width: 80vw;
                .header {
                    padding-top: 6vh;
                    font-size: 2rem;
                }
                h2 {
                    color: #D5D5D5;
                    font-size: 1rem;
                }
            }
        }
        .my-image{
            width: 80vw;
            display: flex;
            margin-top: 15vh;
            img{
                width: auto;
                height: 35vh;
                border-radius: 10px;
            }
            .top-right-box{
                width: 110px;
                z-index: -1;     
                transform: translateX(-75px) translateY(-80px);
            }
            .bottom-left-box{
                position: absolute;  
                width: 110px;
                z-index: -1;
                transform: translateX(75px) translateY(80px);
            }
        }
    }
}