 .about{
    display: flex;
    flex-direction: row;
    .introduction {
        align-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin-top: 5%;
        margin-left: 8%;
        .about-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 45vw;
            .header {
                font-size: 3.8rem;
                margin: 10px;
            }

            h2 {
                color: #D5D5D5;
                font-size: 1.2rem;
            }
        }
    }
    .my-image{
        display: flex;
        margin-top: 8%;
        align-items: center;
        justify-content: center;
        img{
            width: auto;
            height: 60vh;
            background-color: rgb(34, 32, 32);
            border-radius: 20px;
        }
        .top-right-box{
         position: absolute;
         background: #3d9cee; 
         width: 130px;
         height: 2%;
         z-index: -1;     
         transform: translateX(-90px) translateY(-110px);
       }
       .bottom-left-box{
         position: absolute;
         background: #3d9cee;    
         width: 130px;
         height: 2%;
         z-index: -1;
         transform: translateX(90px) translateY(110px);
       }
    }
}
   @media screen and (max-width: 900px) {
    .about{
        margin-top: 13vh;
        margin-left: -2vh;
        .introduction {
            gap: 10px;
            justify-content: center;            
            margin: 5px;
            .about-text{ 
                width: 80vw !important;
                .header {
                    font-size: 4rem;
                }
                h2 {
                    padding-left: -1vh 3vh ;
                    color: #D5D5D5;
                    font-size: 1.3rem;
                }
            }
        }
        .my-image{
            width: 100vh;
            display: flex;
            margin-top: 8vh;
            img{
                width: auto;
                height: 30vh;
                border-radius: 10px;
            }
            .top-right-box{
                width: 150px;
                z-index: -1;     
                transform: translateX(-75px) translateY(-95px);
            }
            .bottom-left-box{
                position: absolute;  
                width: 150px;
                z-index: -1;
                transform: translateX(75px) translateY(95px);
            }
        }
    }
   }
    @media screen and (max-width: 600px) {
    .about{
        margin-top: 1vh;
        margin-left: -2vh;    
        .introduction {
            gap: 10px;
            justify-content: center;
            margin: 5px; ;
            .about-text{ 
                width: 90vw;
                .header {
                    padding-top: 13vh;
                    font-size: 1.8rem;
                }
                h2 {
                    color: #D5D5D5;
                    font-size: .95rem;
                }
            }
        }
        .my-image{
            width: 80vw;
            display: flex;
            margin-top: 15vh;
            img{
                width: auto;
                height: 35vh;
                border-radius: 10px;
            }
            .top-right-box{
                width: 130px;
                z-index: -1;     
                transform: translateX(-65px) translateY(-80px);
            }
            .bottom-left-box{
                position: absolute;  
                width: 130px;
                z-index: -1;
                transform: translateX(65px) translateY(80px);
            }
        }
    }
}
@media screen and (max-width: 400px) {
      .about{
        .introduction {
            gap: 10px;
            justify-content: center;
            margin: 5px; ;
            .about-text{ 
                width: 90vw;
                .header {
                    padding-top: 12vh;
                    font-size: 1.5rem;
                }
                h2 {
                   
                    color: #D5D5D5;
                    font-size: .87rem;
                }
            }
        }
        .my-image{
            margin-top: 15vh;
            img{
                width: auto;
                height: 35vh;
                border-radius: 10px;
            }
            .top-right-box{
                width: 70px;
                z-index: -1;     
                transform: translateX(-80px) translateY(-65px);
            }
            .bottom-left-box{
                position: absolute;  
                width: 70px;
                z-index: -1;
                transform: translateX(80px) translateY(65px);
            }
        }
    }
}
@media screen and (max-width: 365px) {
      .about{
        .introduction {
            .about-text{ 
                width: 70vw;
                .header {
                    padding-top: 10vh;
                    font-size: 1.5rem;
                }
                h2 {
                   
                    color: #D5D5D5;
                    font-size: .7rem;
                }
            }
        }
        .my-image{
            margin-top: 12vh;
            img{
                width: auto;
                height: 35vh;
                border-radius: 10px;
            }
            .top-right-box{
                width: 50px;
                z-index: -1;     
                transform: translateX(-80px) translateY(-50px);
            }
            .bottom-left-box{
                position: absolute;  
                width: 50px;
                z-index: -1;
                transform: translateX(80px) translateY(50px);
            }
        }
    }
}
@media screen and (max-width: 320px) {
      .about{
        
        .my-image{
          
            .top-right-box{
                width: 50px;
                z-index: -1;     
                transform: translateX(-70px) translateY(-30px);
            }
            .bottom-left-box{
                position: absolute;  
                width: 50px;
                z-index: -1;
                transform: translateX(70px) translateY(30px);
            }
        }
    }
}