

.project-container {
    margin-top: 8%;
    width: 100%;
}

.project-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem; 
}



@media screen and (max-width: 600px) {
    .project-grid {
        gap: 1.5rem;
    }
}

